# Public Spotify API Credentials
NEXT_PUBLIC_SPOTIFY_CLIENT_ID=""
NEXT_PUBLIC_SPOTIFY_REDIRECT_URI=""

# Private Spotify API Credentials
SPOTIFY_CLIENT_SECRET=""

# NextAuth API Credentials
NEXTAUTH_SECRET=""
NEXTAUTH_URL=""